/*custom font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 150%;
   
}

body {
    font-family: 'Poppins', sans-serif;
    background: transparent;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #002F49;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #002F49;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #002F49;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px #F0800A, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #F0800A;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #fff;
    background: #F0800A;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #F0800A;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #002F49;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #002F49;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}



    .wrapper{
      
        margin: 20px auto;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
        padding: 30px;
      }
      
      .wrapper .title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
        color: #002F49;
        text-transform: uppercase;
        text-align: center;
      }
      
      .wrapper .form{
        width: 100%;
      }
      div.inputfield{
        display: flex; 
        margin-bottom: 5px; 
        font-size: 14px;
        align-items: center;
        width: 100%;
        outline: none;
        border-radius: 3px;
        transition: all 0.3s ease;
      }
      
      .textarea{
        width: 100%;
        height: 80px;
        resize: none;
      }
      
      .custom_select{
        position: relative;
        width: 100%;
        height: 37px;
      }
      
       .custom_select:before{
        content: "";
        position: absolute;
        top: 12px;
        right: 10px;
        border: 8px solid;
        border-color: #F0800A transparent transparent transparent;
        pointer-events: none;
      }
      
     .custom_select select{
        -webkit-appearance: none;
        -moz-appearance:   none;
        appearance:        none;
        outline: none;
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 8px 10px;
        font-size: 15px;
        border: 1px solid #d5dbd9;
        border-radius: 3px;
      }
      
      
      
      
      div .inputfield p{
         font-size: 14px;
         color: #4d4946;
      }
      div .inputfield a{
        font-size: 14px;
        color: #F0800A;
     }
     div .inputfield .check{
        width: 15px;
        height: 15px;
        position: relative;
        display: block;
        cursor: pointer;
      }
      div .inputfield .check input[type="checkbox"]{
        
        position: absolute;
        top: 4px;
        left: 0;
        opacity: 0;
      }
      div .inputfield .check .checkmark{ 
        width: 15px;
        height: 15px;
        border: 1px solid #F0800A;
        display: block;
        position: relative;
      }
      div .inputfield .check .checkmark:before{
        content: "";
        position: absolute;
        top: 1px;
        left: 2px;
        width: 5px;
        height: 2px;
        border: 2px solid;
        border-color: transparent transparent #fff #fff;
        transform: rotate(-45deg);
        display: none;
      }
      div .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
        background: #F0800A;
      }
      
      div .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
        display: block;
      }
      
      div.inputfield .btn{
        width: 100%;
        padding: 8px 10px;
        font-size: 15px; 
        border: 0px;
        background:  #F0800A;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
        outline: none;
      }
      
      div .inputfield .btn:hover{
        background: #e7ad6e;
      }
      
      div .inputfield:last-child{
        margin-bottom: 0;
      }
      
      @media (max-width:420px) {
        div .inputfield{
          flex-direction: column;
          align-items: flex-start;
         
        }
        div.inputfield label{
          margin-bottom: 5px;
        }
        div .inputfield.terms{
          flex-direction: row;
        }
       
      }
      
      